<div class="admin-panel-wrap">
    <div class="icon32 icon-options-general">
        <br/>
    </div>
    <{if $myArray}>
    <div class="admin-panel-wrap">
        <div class="icon-edit icon32">
            <br/>
        </div>
        <h2>disk info</h2>
        <form class="posts-filter" action="" method="get">
            <table class="widefat post fixed" cellspacing="0">
                <thead>
                    <tr>
                        <th class="manage-column column-title" style="" scope="col" width="20%">Disk Name</th>
			<th class="manage-column column-author" style="" scope="col">Model</th>
                        <th class="manage-column column-author" style="" scope="col">Serial No</th>
                        <th class="manage-column column-author" style="" scope="col">Size</th>
                    </tr>
	    	</thead>
		<tbody>
        		<{foreach from=$myArray item=row}>
			<tr>
				<{foreach from=$row item=col}>
				<td><{$col}></td>
				<{/foreach}>
			</tr>
			<{/foreach}>
		</tbody>
            </table>
            
        </form>

    </div>
    <{else}>
    <{/if}>
</div>
